@font-face {
    font-family: fugazOne;
    src: url(../assets/fonts/FugazOne-Regular.ttf);
}
@font-face {
    font-family: montaukreg;
    src: url(../assets/fonts/Montauk-Regular.otf);
}

.bodybg {
    background-image: url(/assets/images/bgtexture.jpg);
}
.ft {
    font-size: 50px;
}
.brown {
    color: #5F002B;
}
.whitebg {
    background-color: white;
}
.caterbigtitle {
    font-size: 50px;
    font-family: fugazOne;
}
.catertitle {
    font-size: 30px;
    font-family: fugazOne;
}
.catertext {
    font-size: 16px;
    line-height: 20px;
    font-family: montaukreg;
}
.caterpad {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 50px;
}