
/* Halley's */
@font-face {
    font-family: fugaz-one;
    src: url(../assets/fonts/FugazOne-Regular.ttf);
}

@font-face {
    font-family: montauk-light;
    src: url(../assets/fonts/Montauk-Light.otf);
}

/* Nav-bar and footer */
.bg-body-tertiary {
    --bs-bg-opacity: 0;
}

.nav-link,
footer {
    font-size: 20px;
}

.nav-link:hover {
    color: white;
}

.nav-link,
.about-title,
.about-title-res,
.team-title,
.abtcard-title,
.offcanvas-title,
.menu-title,
.menu-type {
    font-family: fugaz-one;
}

.nav-link,
.about-title,
.about-title-res,
.about-text,
.team-title,
.abtcard-title,
.team-text,
.offcanvas-title,
.menu-title,
.menu-type,
.menu-caption,
.menu-item,
footer {
 color: #5F002B;   
}

.about-text,
.team-text,
.menu-caption,
.menu-item,
footer {
    font-family: montauk-light;
}

/* Footer style */
.footer-right{
    text-align: end;
}

/* Off-Canvas */
.offcanvas-title {
    font-size: 30px;
    text-align: center;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2895, 0, 43, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border: 1px solid #5F002B;
}

/* TRANSPARENT TO SOLID OFFCANVAS NAVBAR */
.navbar-scrolled {
    background-color: #F2E9D9 !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* About Styles */
.about-title,
.menu-title {
    font-size: 50px;
}

.about-title-res {
    font-size: 40px;
}

.whiteBG {
    background-color: #FFFFFF;
}

.about-text,
.team-text {
    font-size: 20px;
    line-height: 19px;
}

.about-padding {
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 80px;
    padding-bottom: 40px;
}

.text-center {
    text-align: center;
}

.team-title,
.abtcard-title,
.menu-type {
    font-size: 30px;
}

.card {
    border: none;
    border-radius: initial;
}

.card-img, .card-img-top {
    border-top-left-radius: 0px ;
    border-top-right-radius: 0px ;
}

.team-margin {
    margin-bottom: 100px;
}

.scroll {
    margin: 0 auto;
    overflow: scroll;
}

.scroll-team-padding {
    padding-left: 40px;
    padding-right: 40px;
}

/* Menu Styles */

.menu-caption,
.menu-item {
    font-size: 20px
}

.menu-item {
    line-height: 20px;
}

.menu-item-title {
    font-size: 35px;
}

hr {
    color: #980051;
    border-top: 3px solid #980051;
}

.card-menu-padding {
    padding-left: 40px;
    padding-right: 30px;
}

.menu-item-padding {
    padding-bottom: 100px;
}

.text-right {
    text-align: right;
    display: flex;
    justify-content: end;
}

.notxtwrap {
    white-space: nowrap;
}

.menu-card-margin {
    margin-bottom: 50px;
}

/* Jared's */
@font-face {
    font-family: fugazOne;
    src: url(../assets/fonts/FugazOne-Regular.ttf);
}
@font-face {
    font-family: montaukreg;
    src: url(../assets/fonts/Montauk-Regular.otf);
}

.bodybg {
    background-image: url(/assets/images/bgtexture.jpg);
}
.ft {
    font-size: 50px;
}
.brown {
    color: #5F002B;
}
.whitebg {
    background-color: white;
}
.caterbigtitle {
    font-size: 50px;
    font-family: fugazOne;
}
.catertitle {
    font-size: 30px;
    font-family: fugazOne;
}
.catertext {
    font-size: 16px;
    line-height: 20px;
    font-family: montaukreg;
}
.caterpad {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 50px;
}

/* Robert's */
body{
    background-image: url(../assets/images/bgtexture.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.heroimg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;
}
@font-face {
    font-family: fugaz-one;
    src: url(../assets/fonts/FugazOne-Regular.ttf);
}

@font-face {
    font-family: montauk-light;
    src: url(../assets/fonts/Montauk-Light.otf);
}

.whitebg3 {
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.muzzlepara{
    color: #5F002B;
    font-family:  montauk-light ;
}
.muzzletitle{
    color:#5F002B;
    font-family: fugaz-one;
}

.imgBorder {
    border: 10px solid white;
}